<%- include("./dash.nav.ejs") %>
<body class="padding ">
    <h1>welcome to dashboard</h1>
    <a href="/dashboard/clubs"  >Clubs</a>
    <a href="/dashboard/competitions" >competition</a>
    <a href="/dashboard/games" >games</a>
    <%- include("./dash.foot.ejs") %>
</body>