<%- include("./dash.nav.ejs") %>
<body class="bg-rose">
    <main class="wall top-align padding">
        <div class="frame ">
            <!-- team tag -->
           <section class="bg-white small-padding">
            <section class="margin-bottom center">
                <select name="competition" id="competition-selector" title="Select competition" class="small-select competitions season-selector" >
                </select>
            </section>
            <section class="row top-align around center-align mid-width">
                <span>
                    <label for="home" class="label no-top">Home Team</label>
                    <select name="home" id="home" class="small-select season-teams" title="Select home team">
                    </select>
                </span>
                <section class="tiny-box margin-top">
                    <span class="row">
                        <input type="text" name="home_goals" class="small-input input" placeholder="0" title="Home team goal">
                        <h5>VS</h5>
                        <input type="text" name="away_goals" class="small-input input" placeholder="0" title="Away team goal">
                    </span>
                    <about id="countdownDisplay" class="tiny bold  small-padding text-center gameCountdown"></about>
                    <input type="datetime-local" id="gameTimeInput" class="mid-input input" title="Select game time">                        
                </section>
                <span>
                    <label for="away" class="label no-top">Away Team</label>
                    <select name="away" id="away" class="small-select season-teams" title="Select away team">
                        <option value="name">BEA Mountain FC</option>
                    </select>
                </span>
            </section>
           </section>

           <!-- line up tag -->
           <section class="padding  bg-white border-bottom text-center">
               <h3 class="small text-center bold ">Lineup</h3>
                <%- include("./players.dialog.ejs") %>
           </section>
           <div class="row flex bg-white small-padding no-gap" id="lineup">
                <!-- lineup selection section -->
                <section class="border-right padding-right">
                        <span class="row small-bottom">
                            <small class="tiny bold" style="width: 188px;">Player</small>
                            <small class="tiny bold" style="width: 35px;">No</small>
                            <small class="tiny bold">Position</small>
                        </span>
                        <section id="" class="home"></section>
                </section>
                <!-- away team -->
                <section class="padding-left">
                        <span class="row small-bottom">
                            <small class="tiny bold" style="width: 188px;">Player</small>
                            <small class="tiny bold" style="width: 35px;">No</small>
                            <small class="tiny bold">Position</small>
                        </span>
                        <section id="" class="away"></section>
                </section>
           </div>
        </div>
    </main>
    <%- include("./dash.foot.ejs") %>
    <script type="module" src="/javascripts/games.form.js"></script>
    <script type="module" src="/javascripts/creators/players.create.js"></script>
    <script type="module" src="/javascripts/readers/players.read.js"></script>

</body>

