<div class="column">
     <section class="row flex margin bg-white small-round">
         <span>
             <label for="home" class="label">Competition/League</label>
             <select name="home" id="homeTeams" class="block input">
             </select>
         </span>
         <span>
             <label for="away" class="label">Home Team</label>
             <select name="away" id="awayTeams" class="block input">
             </select>
         </span>
         <span>
             <label for="away" class="label">Away Team</label>
             <select name="away" id="awayTeams" class="block input">
             </select>
         </span>
         <span>
             <label for="start" class="label">Start</label>
             <input type="datetime" name="start" id="start" class="block input">
             </input>
         </span>
     </section>
     <div id="squads">
        <span class="row">
            <label for="player">
                <input type="radio" id="player">
                <span>player name</span>
            </label>
        </span>
     </div>
</div>
