<%- include("./dash.nav.ejs") %>
<body class="bg-rose">
    <main class="wall top-align">
        <%- include("./games.form.ejs") %>
    
        <%- include("./dash.foot.ejs") %>
    </main>
</body>
