<%- include("./dash.nav.ejs") %>
<body class="bg-rose">
<%- include("./dash.bar.ejs") %>
    <main class="min-wide row top-align">
        <div id="lineups"></div>
    </main>
    <%- include("./dash.foot.ejs") %>
    <script type="module" src="/javascripts/readers/games.read.js"></script>
</body>
