<!-- Button that triggers the dialog -->
    
<section class="row between">
    <h4 class="large small-padding ">All Matches</h4>
    <%- include("./match.dialog.ejs") %>
</section>
<section id="matchList" class="column margin-top">
</section>
<div id="snackbar">Match added successfully!</div>
